.card {
    width: 100%;
    height: 250px;
    background-color: aqua;
    border: 2px solid red;

        &__img {
            object-fit: cover;
            width: 100%;
            height: 70%;
        }

        &__badge {

        }

        &__content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 30%;
            padding: 16px;


        }

        &__txt {


        }

        &__title {

        }

        &__subtitle {

        }
}