html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, i, ol, ul, li, form, label, table, article, canvas, footer, header, main, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

