@include breakpoint(md) {  
    .menu__header {
        place-content: center;
        gap: 1.5em;
    }
    .restaurants__cards {
    @include grid(1fr 1fr, 1fr 1fr, 3em);
    }
}

@include breakpoint(lg) {     
    .steps__tags {
        @include grid(1fr 1fr 1fr, 1fr, auto);
    }

    .step-card {
        padding: 28px 22px;
    }

    .restaurants, .steps {
        padding: 3em 8em;
    }

    .menu {
        padding: 3em 10em;
    }

    .footer {
        @include sizing(100%, 112px);
        @include flex(row-reverse, flex-start, flex-end, 4em);
        &__title {
            padding-bottom: 0;
        }
        &__list {
            @include flex(row, flex-end, flex-end, 1em);
        }

        &__link:nth-child(2) {
            padding-right: 2em;
        }
    }


   }

@include breakpoint(minxl) {

    .steps__tags {
        gap: auto;
    }
}

@include breakpoint(xl) {
    .restaurants__cards {
        gap: 3em 6em;
    }
}
// @include breakpoint(md) { /* 768px */

// }

// @include breakpoint(sm) { /* 575px */

// }