// COULEURS
$color-purple: #9356DC;
$color-green-dark: #008766;
$color-green-light: #99E2D0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #353535;
$color-grey-lighter: #F6F6F6;
$color-grey-medium: #7E7E7E;
$color-grey-light: #EAEAEA;

// TYPOGRAPHIE
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand';

$font-size-xl: 28px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 17px;
$font-size-xs: 16px;

$font-weight-bold: bold;
$font-weight-light: lighter;
$font-weight-medium: medium;
$font-weight-normal: normal;