// COULEURS
$color-purple: #9356DC;
$color-green-dark: #008766;
$color-green-light: #99E2D0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #353535;
$color-grey-lighter: #F6F6F6;
$color-grey-medium: #7E7E7E;
$color-grey-light: #EAEAEA;

// TYPO
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand';

$font-size-xl: 1.75rem;//28px;
$font-size-l: 1.5rem;//24px;
$font-size-m: 1.125rem;//18px;
$font-size-s: 1.0625rem;//17px;
$font-size-xs: 1rem; //16px;
$font-size-xxs: 0.875rem;//14px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;