html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, i, ol, ul, li, form, label, table, article, canvas, footer, header, main, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/__fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/__fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/__fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../assets/__fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 700;
}

.section-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #000000;
  font-weight: 300;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header-icon {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1.5rem;
}
.header__logo {
  width: 160px;
  height: 42px;
  margin: 1em;
}
.header__localisation {
  background-color: #EAEAEA;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
  padding: 1em 0;
  gap: 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.cta-btn {
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 1em 1.3em;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}

.step-card {
  background-color: #F6F6F6;
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 28px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
}
.step-card__content {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: auto;
  text-wrap: nowrap;
}
.step-card__icon {
  width: 38px;
  height: auto;
  font-size: 1.125rem;
  color: #7E7E7E;
  padding-left: 12px;
}
.step-card__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: center;
  left: -12px;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  font-weight: 400;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 25px;
}

.restaurant-card {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  position: relative;
}
.restaurant-card__img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurant-card__badge {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #008766;
  font-weight: 500;
  padding: 0.5rem 0.7rem;
}
.restaurant-card__content {
  background-color: #FFFFFF;
  width: 100%;
  height: 30%;
  position: relative;
  padding: 1em;
  border-radius: 0 0 15px 15px;
}
.restaurant-card .heart-btn {
  font-size: 1.5rem;
  position: absolute;
  top: 0.7em;
  right: 1em;
}
.restaurant-card__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.3em;
}
.restaurant-card__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  color: #000000;
  font-weight: 300;
  line-height: 1.3em;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #353535;
  padding: 22px;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: 400;
  padding-bottom: 1em;
}
.footer__link {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 1.8em;
}
.footer .footer-icon {
  width: 30px;
  height: auto;
}

.item-card {
  width: 100%;
  height: 72px;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item-card__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}
.item-card__txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item-card__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #000000;
  font-weight: 500;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.item-card__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.item-card__price {
  place-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
  padding: 1em;
}
.item-card .select-trigger {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.none {
  display: none;
}

.main-container {
  width: 100%;
  height: auto;
  max-width: 100vw;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: auto;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 60px 20px;
}
section:nth-child(2n-1) {
  background-color: #F6F6F6;
}

.section-title {
  align-self: flex-start;
}

.card-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.hero {
  padding: 2em;
  text-align: center;
}
.hero__title {
  padding: 0 1em;
  align-self: center;
}
.hero .cta-btn {
  margin-top: 1em;
}

.menu-banner {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  margin-top: -2em;
  background-color: #F6F6F6;
  border-radius: 25px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 0;
}
.menu__header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.menu .heart-btn {
  font-size: 1.5rem;
}
.menu__title {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  color: #000000;
  font-weight: 400;
}
.menu__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.menu .menu__section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 300;
}
.menu .title-underline {
  border-bottom: 2px solid #99E2D0;
  padding: 0.3em 0;
}
.menu .cta-btn {
  align-self: center;
  padding-left: 60px;
  padding-right: 60px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.heart-btn {
  position: relative;
  cursor: pointer;
}
.heart-btn .heart-fill {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.heart-btn:hover .heart-fill {
  opacity: 1;
  animation: heartbeat 0.4s ease-in-out 0.4s 1 forwards;
}

.step-card {
  transition: all 0.4s ease-in-out;
}
.step-card .step-card__txt, .step-card .step-card__icon {
  transition: all 0.3s ease-in-out;
}

.step-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2078431373);
  background-color: #EAEAEA;
}
.step-card:hover .step-card__txt, .step-card:hover .step-card__icon {
  color: #9356DC;
}

.restaurant-card {
  transition: all 0.4s ease-in-out;
}

.restaurant-card:hover {
  transform: scale(1.02);
}

.cta-btn {
  transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cta-btn:hover {
  opacity: 0.9;
  transform: scale(1.03);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5019607843);
}

.select-trigger {
  transition: all 0.4s ease-in-out;
}
.select-trigger .check-icon {
  opacity: 0;
  font-size: 1.5rem;
  transform: rotate(90deg);
  transition: 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.item-card:hover .select-trigger {
  width: 72px;
  height: 100%;
}
.item-card:hover .check-icon {
  opacity: 1;
  transform: rotate(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-entrees .item-card {
  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.section-entrees .item-card:nth-child(1) {
  animation-delay: 0.15s;
}
.section-entrees .item-card:nth-child(2) {
  animation-delay: 0.3s;
}
.section-entrees .item-card:nth-child(3) {
  animation-delay: 0.45s;
}
.section-entrees .item-card:nth-child(4) {
  animation-delay: 0.6s;
}
.section-entrees .item-card:nth-child(5) {
  animation-delay: 0.75s;
}

.section-plats .item-card {
  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.section-plats .item-card:nth-child(1) {
  animation-delay: 1.15s;
}
.section-plats .item-card:nth-child(2) {
  animation-delay: 1.3s;
}
.section-plats .item-card:nth-child(3) {
  animation-delay: 1.45s;
}
.section-plats .item-card:nth-child(4) {
  animation-delay: 1.6s;
}
.section-plats .item-card:nth-child(5) {
  animation-delay: 1.75s;
}

.section-desserts .item-card {
  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.section-desserts .item-card:nth-child(1) {
  animation-delay: 2.15s;
}
.section-desserts .item-card:nth-child(2) {
  animation-delay: 2.3s;
}
.section-desserts .item-card:nth-child(3) {
  animation-delay: 2.45s;
}
.section-desserts .item-card:nth-child(4) {
  animation-delay: 2.6s;
}
.section-desserts .item-card:nth-child(5) {
  animation-delay: 2.75s;
}

/*# sourceMappingURL=styles.css.map */
